* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root { scroll-behavior: smooth; }

body {
    flex-flow: column nowrap;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #111;
    color: white;
}

nav ul {
    padding: 1em 0;
    margin: 1em;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: thin solid rgb(30, 145, 30);
    background-color: #000000;
    box-shadow: 0px 0px 4px rgb(30, 145, 30);
    width: 55vw;
}

h1.header, p#description {
    text-align: center; 
    padding: 0.5em 0;
}

small#sub-heading {
    text-align: center;
    padding: 0 0 1em;
}

section#work-samples h1.header { padding: 1em 0 !important; }
nav ul a { color: rgb(85, 255, 85); }

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 55vw;
    margin: 1em 0;
}

section#main {
    background-color: rgb(80, 15, 145);
    border: thin solid rgb(45, 10, 85);
    box-shadow: 0px 0px 8px rgb(45, 10, 85);
}

section#certifications {
    background-color: rgb(15, 50, 145);
    border: thin solid rgb(10, 45, 85);
    box-shadow: 0px 0px 8px rgb(10, 45, 85);
}

section#work-samples {
    padding: 0 !important;
    background-color: rgb(15, 140, 145);
    border: thin solid rgb(10, 85, 60);
    box-shadow: 0px 0px 8px rgb(10, 85, 60);
}

section.row { flex-flow: row nowrap; }
section#work-samples h1.header { padding: 1em 0 0 !important; }

footer {
    background-color: rgb(0, 140, 255);
    border: thin solid rgb(0, 102, 255);
    box-shadow: 0px 0px 2px rgb(0, 140, 255);
    margin: 2em;
    padding: 0.5em;
}

a { 
    text-decoration: none;
    color: white;
}

body, nav, nav ul, section { display: flex; }
.light-mode { background: white; }
nav { justify-content: center; }
body, nav ul, section, .light-mode { transition: ease-in .25s; }
ul li { padding: 0.5em; }
li#mode-toggle:hover img:hover { cursor: pointer; }
section:not(.row, #certifications) { padding: 1em; }
section.item a { padding: 1em 0; }

section.item {
    padding: 0 3em !important;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

section#certifications section.row section.item a { padding: 0 !important; }
section#certifications section.row section.item { margin: 0 !important; }

@media screen and (max-width: 1280px) {
    nav { padding: 1.5em; }
    nav ul {
        padding: 0.5em;
        margin: 0.25em;
        width: 70vw;
    }

    section { width: 70vw; }
    section.item { padding: 0 1em !important; }
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
    nav { padding: 1.5em; }
    nav ul {
        padding: 0.5em;
        margin: 0.25em;
        width: 90vw;
    }

    section { width: 90vw; }
    section.item { padding: 0 0.25em !important; }
}

@media screen and (max-width: 480px) and (max-height: 1080px) {    
    nav ul { flex-flow: column wrap; }
    section.item { 
        padding: 0 !important; 
        font-size: 80%;
    }
}